
.custom-upload-list .ant-upload-select {
    width: 100% !important;
    height: 100% !important;
    padding: 10px 0px;
}

.custom-upload-list .ant-upload-list {
    flex-direction: column;
}
  
.custom-upload-list .ant-upload-list .ant-upload-list-item-container .ant-upload-list-item .ant-upload-list-item-thumbnail .ant-upload-list-item-image {
    height: 270px;
    object-fit: cover;
}

.custom-upload-list .ant-upload-list-item-actions a {
    display: none;
}
  